<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pos.leaders.leaderspossystem">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        coreApp="true"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher__pos"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".syncposservice.SetupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category_activity" />
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products_activity" />
        <activity
            android:name=".ProductCatalogActivity"
            android:label="@string/title_activity_product_catalog" />
        <activity android:name=".MainScreenActivity" />
        <activity
            android:name=".AddEmployeeActivity"
            android:label="@string/title_add_user_activity" />

        <activity
            android:name=".OrdersManagementActivity"
            android:label="@string/title_sales_management_activity" />
        <activity
            android:name=".Reports.UserAttendanceReport"
            android:label="@string/title_user_attendance_report_activity" />
        <activity android:name="." />
        <activity android:name=".AddOfferActivity" />
        <activity android:name=".LogInActivity" />
        <activity
            android:name=".SalesCartActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_main_sales_activity"
            android:largeHeap="true" />
        <activity
            android:name=".Tools.OldCashActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".CreditCard.CreditCardActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".ChecksActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".ImportProductsActivity"
            android:label="@string/title_import_product_activity" />
        <activity
            android:name=".OfferProductCartActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".ReportsActivity"
            android:label="@string/title_reports_activity" />
        <activity
            android:name=".ZReportActivity"
            android:label="@string/title_zreports_activity" />
        <activity
            android:name=".ReportsManagementActivity"
            android:label="@string/title_reports_management_activity" />
        <activity
            android:name=".ReportZDetailsActivity"
            android:label="@string/title_report_zdetails_activity" />
        <activity
            android:name=".BackupActivity"
            android:label="@string/title_backup_activity" />
        <activity android:name=".InitActivity" />
        <activity android:name=".SetupNewPOSActivity" />
        <activity android:name=".InvoiceActivity" />
        <activity
            android:name=".CreditCard.CreditCardByPhone"
            android:label="@string/title_credit_card_by_phone_activity" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/settings" />
        <activity
            android:name=".OpenFormatActivity"
            android:label="@string/title_activity_open_format"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OldDashBoard"
            android:label="@string/title_activity_open_format">

            <!-- Main Activity -->
        </activity>
        <activity
            android:name=".CustomerAndClub.Customer"
            android:label="@string/title_customer_and_club_management_activity" />
        <activity
            android:name=".CustomerAndClub.AddNewCustomer"
            android:label="@string/title_add_new_customer_activity" />
        <activity
            android:name=".CustomerAndClub.Coustmer_Group"
            android:label="@string/title_add_new_club_activity" />
        <activity
            android:name=".CustomerAndClub.CustmerManagementActivity"
            android:label="@string/title_customer_management_activity" />

        <service
            android:name=".syncposservice.Service.SyncMessage"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainTempActivity" />
        <activity android:name=".SetupNewPOSOnlineActivity" />
        <activity
            android:name=".Tools.CashActivity"
            android:label="@string/title_activity_temp_cash_activty"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".CustomerAndClub.ClubManagementActivity"
            android:label="@string/title_club_management_activity" />
        <activity
            android:name=".DashBord"
            android:label="@string/title_activity_dashboard_activty" />
        <activity
            android:name=".SalesManManagementActivity"
            android:label="@string/title_sales_man_management_activity" />
        <activity
            android:name=".SalesAssistantDetailesSalesMangmentActivity"
            android:label="@string/title_sales_man_management_activity" />
        <activity android:name=".PrinterStub" />
        <activity
            android:name=".EmployeeManagementActivity"
            android:label="@string/title_activity_worker_management_activity" />
        <activity
            android:name=".CustomerAndClub.CustomerMeasurementManagementActivity"
            android:label="@string/title_activity_customer_measurement_management_activity" />
        <activity android:name=".CreditCard.MainCreditCardActivity" />
        <activity
            android:name=".SetUpManagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerAndClub.AddCustomerMeasurement"
            android:label="@string/title_activity_add_customer_measurement_activity" />

        <meta-offerData
            android:name="io.fabric.ApiKey"
            android:value="fc2345a479e793a78d4e617ce9a0fe1e2c8e93fc" />

        <activity android:name=".SalesHistoryCopySales" />
        <activity
            android:name=".AddNewCategory"
            android:label="@string/title_activity_add_new_category_activity" />
        <activity android:name=".ScheduleWorkersActivity" />
        <activity
            android:name=".SettingsTab.SettingsTab"
            android:label="@string/title_activity_setting_tab_activity" />
        <activity
            android:name=".Pinpad.PinpadActivity"
            android:label="@string/title_activity_pinpad" />
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Payment.MultiCurrenciesPaymentActivity"
            android:label="@string/multi_currencies_payment_activity" />
        <activity
            android:name=".Offers.CreateOfferActivity"
            android:label="@string/create_offer_activity" />
        <activity
            android:name=".OfferManagementActivity"
            android:label="@string/management_offer_activity" />
        <activity
            android:name=".InvoiceManagementActivity"
            android:label="@string/invoice_management_activity" />
        <activity android:name=".GiftProductActivity" />
        <activity android:name=".ClosingReportActivity"
            android:label="@string/closing_report_activity"></activity>


    </application>

</manifest>